<!--@subject {{trans "Your order from %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var order":"Order information",
"var store":"Store information"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{block class="Magento\\Framework\\View\\Element\\Template" area="crontab" 
                template="Shirtplatform_Core::email/greeting_new.phtml" order_id=$order_id}}</p>            
        </td>
    </tr>    
    <tr class="email-information">
        <td>
            <p>
                {{trans "You created an order from %store_name on %order_date." store_name=$store.getFrontendName() order_date=$order_date}}
                {{trans "We still could not find any payment for this order."}}
                {{trans "Please note, that we'll start the production after the full payment has been received"}}
            </p>
            <p>
                {{trans "Please transfer the amount of %order_grand_total to the following account:" order_grand_total=$order_grand_total}}
            </p>
            <p>
                {{trans "Account owner:" }} {{config path="general/bank_account/account_owner"}}<br>
                {{trans "Bank name:" }} {{config path="general/bank_account/bank_name"}}<br>
                {{trans "IBAN:" }} {{config path="general/bank_account/iban"}}<br>
                {{trans "BIC:" }} {{config path="general/bank_account/bic"}}<br>
                {{trans "Variable symbol: %variable_symbol" variable_symbol=$order.increment_id}}
            </p>
            <p>
                {{trans "For further inquiries, we are happy to help you"}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
