<!--@subject {{trans "%interval_string Order Report From %store_name" store_name=$store.getFrontendName() interval_string=$order_report_data.intervalString}}  @-->

{{template config_path="design/email/header_template"}}

{{if order_report_data.wholeMonth}}
    <p>{{trans "You can find orders from the last month in attachments"}}</p><br>
{{else}}
    <p>{{trans "You can find orders from the last day in attachments"}}</p><br>
{{/if}}

<footer class="footer" style="font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; vertical-align: top; padding:40px; font-size: 13px; border-top: 1px solid silver">
    <p class="impressum" style="margin-top: 0; margin-bottom: 10px;">{{customVar code=var_impressum}}</p>
</footer>