<!--@subject {{trans "Custom Email From %store_name" store_name=$store.getFrontendName()}}  @-->

{{template config_path="design/email/header_template"}}

<p>{{var shirtplatform_default_email.message}}</p><br>

<footer class="footer" style="font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; vertical-align: top; padding:40px; font-size: 13px; border-top: 1px solid silver">
    <p class="impressum" style="margin-top: 0; margin-bottom: 10px;">{{customVar code=var_impressum}}</p>
</footer>