<!-- ko if: hasDesignImages($parents[1]) -->
<div class="mouseover-images" data-bind="style: {width: (getDesignImagesCount($parents[1]) * 150 + 2)  + 'px', right: cssRight() + 'px'}">
    <ul>
        <!-- ko foreach: { data: getMouseoverImages($parents[1]), as: 'imageObject' } -->
            <!-- ko foreach: { data: Object.keys(imageObject), as: 'key' } -->
                <li><img data-bind="attr: {src: imageObject[key]}" alt="" /></li>
            <!-- /ko -->
        <!-- /ko -->
    </ul>
</div>
<div class="product-item-photo">
    <img data-bind="attr: {src: getThumbnailDesignImage($parents[1])}" alt="" />
</div>
<!-- /ko -->
<!-- ko ifnot: hasDesignImages($parents[1]) -->
<span class="product-image-container"
      data-bind="attr: {'style': 'height: ' + getHeight($parents[1]) + 'px; width: ' + getWidth($parents[1]) + 'px;' }">
    <span class="product-image-wrapper">
        <img
            data-bind="attr: {'src': getSrc($parents[1]), 'width': getWidth($parents[1]), 'height': getHeight($parents[1]), 'alt': getAlt($parents[1]) }"/>
    </span>
</span>
<!-- /ko -->