<?php
// @codingStandardsIgnoreFile

/** @var  $block \Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer */
$_item = $block->getItem();
$helper = $this->helper(\Shirtplatform\Core\Helper\Image::class);
?>
<tr id="order-item-row-<?= $escaper->escapeHtml($_item->getId()) ?>">
    <td class="col image" data-th="<?= $escaper->escapeHtml(__('Image')) ?>">
        <?php        
        if ($_item->getShirtplatformProductType() == \Shirtplatform\Core\Model\Config\Source\ProductType::BASE_PRODUCT) {
            $designImages = $helper->getDesignImages($_item, ['width' => 135, 'height' => 135], TRUE);
            $mouseOverImages = $helper->getDesignImages($_item, ['width' => 200, 'height' => 220], TRUE);
        }
        elseif ($_item->getShirtplatformProductType() == \Shirtplatform\Core\Model\Config\Source\ProductType::COLLECTION_PRODUCT) {
            $designImages = $helper->getCollectionImages($_item, ['width' => 135, 'height' => 135], 'small_image', TRUE);
            $mouseOverImages = $helper->getCollectionImages($_item, ['width' => 200, 'height' => 220], 'small_image', TRUE);
        }

        if (!empty($designImages)) {
            ?>
            <div class="designed-images">
                <?php $firstImageUrl = reset($designImages); ?>
                <div class="image">
                    <img src="<?php echo $escaper->escapeUrl($firstImageUrl); ?>" alt="" />
                    <?php $width = count($mouseOverImages) * 220 + 2; ?>
                    <ul class="mouseover-images" style="width: <?php echo $width; ?>px;">
                        <?php foreach ($mouseOverImages as $imageId => $imageUrl) { ?>
                            <li><img src="<?php echo $escaper->escapeUrl($mouseOverImages[$imageId]); ?>" alt="" /></li>
                        <?php } ?>
                    </ul>
                </div>                
            </div>
            <?php
        }
        else {
            /* @noEscape */ echo $helper->getDefaultMagentoImage($_item, 'product_small_image');
        }
        ?>        
    </td>
    <td class="col name" data-th="<?= $escaper->escapeHtml(__('Product Name')) ?>">
        <strong class="product name product-item-name"><?= $escaper->escapeHtml($_item->getName()) ?></strong>
        <?php if ($_options = $block->getItemOptions()): ?>
            <dl class="item-options">
                <?php foreach ($_options as $_option) : ?>
                    <dt><?= $escaper->escapeHtml($_option['label']) ?></dt>
                    <?php if (!$block->getPrintStatus()): ?>
                        <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                        <dd>
                            <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                            <?php else: ?>
                                <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                            <?php endif; ?>
                        </dd>
                    <?php else: ?>
                        <dd>
                            <?= nl2br($escaper->escapeHtml((isset($_option['print_value']) ? $_option['print_value'] : $_option['value']))) ?>
                        </dd>
                    <?php endif; ?>
                <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <?php $addtInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addtInfoBlock) : ?>
            <?= $addtInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif; ?>
        <?= $escaper->escapeHtml($_item->getDescription()) ?>
    </td>
    <td class="col sku" data-th="<?= $escaper->escapeHtml(__('SKU')) ?>"><?= /* @escapeNotVerified */ $block->prepareSku($block->getSku()) ?></td>
    <td class="col price" data-th="<?= $escaper->escapeHtml(__('Price')) ?>">
        <?= $block->getItemPriceHtml() ?>
    </td>
    <td class="col qty" data-th="<?= $escaper->escapeHtml(__('Qty')) ?>">
        <ul class="items-qty">
            <?php if ($block->getItem()->getQtyOrdered() > 0): ?>
                <li class="item">
                    <span class="title"><?= /* @escapeNotVerified */ __('Ordered') ?></span>
                    <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyOrdered() * 1 ?></span>
                </li>
            <?php endif; ?>
            <?php if ($block->getItem()->getQtyShipped() > 0): ?>
                <li class="item">
                    <span class="title"><?= /* @escapeNotVerified */ __('Shipped') ?></span>
                    <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyShipped() * 1 ?></span>
                </li>
            <?php endif; ?>
            <?php if ($block->getItem()->getQtyCanceled() > 0): ?>
                <li class="item">
                    <span class="title"><?= /* @escapeNotVerified */ __('Canceled') ?></span>
                    <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyCanceled() * 1 ?></span>
                </li>
            <?php endif; ?>
            <?php if ($block->getItem()->getQtyRefunded() > 0): ?>
                <li class="item">
                    <span class="title"><?= /* @escapeNotVerified */ __('Refunded') ?></span>
                    <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyRefunded() * 1 ?></span>
                </li>
            <?php endif; ?>
        </ul>
    </td>
    <td class="col subtotal" data-th="<?= $escaper->escapeHtml(__('Subtotal')) ?>">
        <?= $block->getItemRowTotalHtml() ?>
    </td>
</tr>