<?php
    /** @var \Shirtplatform\Core\Block\Adminhtml\Imports\Queue $block */

    $runningRequests = $block->getRunningOperations();
    $lastUpdatedProduct = $block->getLastUpdatedProducts();
    
    $productHelper = $this->helper('Shirtplatform\Core\Helper\Product');
    $requestsErrors = $productHelper->getAsyncImportErrors();

    $count = 0;
    if ($runningRequests) {
        foreach ($runningRequests as $_sku => $_data) {
            $count += $_data['count'];
        }
    }
?>

<h3>Running import operations: (<?= $count ?>)</h3>
<?php if ($runningRequests): ?>
    <ul>
        <?php foreach ($runningRequests as $_sku => $_request): ?>
            <li><?= $_sku ?> <i>(<?= $_request['count'] ?>)</i></li>
        <?php endforeach ?>
    </ul>
<?php endif ?>
    
<h3>Last updated products:</h3>
<?php if ($lastUpdatedProduct): ?>
    <ul>
        <?php foreach ($lastUpdatedProduct as $_product): ?>
            <?php
                $simpleProducts = $_product->getTypeInstance()->getUsedProducts($_product);

                $_str  = $_product->getSku();
                $_str .= ' <i>(variants: ' . count($simpleProducts) . ', ';
                $_str .= 'last update: ' . date('d.m.Y H:i:s', strtotime($_product->getUpdatedAt())) . ')</i>';
            ?>
            <li><?= $_str ?></li>
        <?php endforeach ?>
    </ul>
<?php else: ?>
    <p>There are no products</p>
<?php endif ?>

<h3>Operations with error status:</h3>
<?php if ($requestsErrors): ?>
    <?php foreach ($requestsErrors as $_sku => $_errors): ?>
        <p><strong><?= $_sku ?></strong></p>
        <ul>
            <?php foreach ($_errors as $_message => $_count): ?>
                <li><?= $_message ?> (<?= $_count ?>)</li>
            <?php endforeach ?>
        <ul>
        <br>
    <?php endforeach ?>
<?php endif ?>