/* Checkout cart items */
.cart .designed-item .product-item-details,
.cart .collection-item .product-item-details {
    padding-top: 10px;
}

.cart .designed-images {
    display: table-row;    
}

.cart .designed-images .image {
    float: left;
    padding: 0 10px;
    position: relative;
}

.cart .designed-images img {
    vertical-align: bottom;
}

.cart .designed-images .mouseover-image {
    display: none;
}

.cart .designed-images .image:hover .mouseover-image {
    display: block;
}

.cart .designed-images .mouseover-image {
    width: 200px;
    max-height: 220px;
    position: absolute;
    border: 1px solid #ccc;
    text-align: center;
    background-color: white;
    top: 50px;
    z-index: 10;
}

/* Header minicart */
#mini-cart .mouseover-images {
    position: absolute;    
    right: 389px;        
    display: none;
}

#mini-cart .item:hover .mouseover-images {
    display: block;
}

#mini-cart .mouseover-images ul {
    list-style: none;
    padding: 0;
    background-color: white;
    border: 1px solid #ccc;
    position: relative;
    top: -16px;
    float: right;
}

#mini-cart .mouseover-images ul li {
    float: right;
    width: 150px;
    height: 150px;
    text-align: center;
}

/* OPC Sidebar Cart */
.opc-block-summary .items-in-cart {
    position: relative;
}

.opc-block-summary .items-in-cart .minicart-items .product {
    position: static;
}

.minicart-items .mouseover-images {
    position: absolute;    
    right: 383px;        
    display: none;
}

.minicart-items .product:hover .mouseover-images {
    display: block;
}

.minicart-items .mouseover-images ul {
    list-style: none;
    padding: 0;
    background-color: white;
    border: 1px solid #ccc;
    position: relative;
    top: -16px;
    float: right;
}

.minicart-items .mouseover-images ul li {
    float: right;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 0;
}