<div id="setup_form"></div>

<script type="text/javascript">
	require(['jquery'], function ($) {
		window.addEventListener('message', function (e) {
			if (e.data && e.data.data) {
				var website_id = $('.platform_setup:visible').data('id');
				if (website_id) {
					e.data.data.website_id = website_id;
					$.ajax({
						url: '<?php echo $escaper->escapeUrl($this->getUrl('*/*/callback')); ?>',
						method: 'post',
						showLoader: true,
						data: e.data,
						success: function (data) {
							console.log(data);
						}
					});

				}
				console.log(e);
			}

		});
	});
</script>