<?php
    /** @var Shirtplatform\Core\Block\Adminhtml\Setup\Form $block */
?>

<?php if (!$block->isConnected()): ?>
    <form action="<?php echo $escaper->escapeUrl($block->getFormAction()) ?>" method="post" target="_blank">
        <?php /* @escapeNotVerified */ echo $block->getInputs() ?>
        <button>Connect from editor</button>
    </form>
<?php else: ?>
    <h2>Change Shirtplatform contact e-mail address</h2>
    <p class="email-message"></p>
    <form action="<?php echo $escaper->escapeUrl($block->getFormAction()) ?>" method="post" target="_blank" id="email-form-<?php echo $escaper->escapeHtml($block->getWebsiteId()) ?>">
        <?php /* @escapeNotVerified */ echo $block->getInputs() ?>
        <input type="email" id="new-email">
        <button>Change e-mail</button>
    </form>

    <h2 style="margin-top: 1.5em;">Disconnect</h2>
    <form action="<?php echo $escaper->escapeUrl($block->getDisconnectFormAction()) ?>">
        <button>Disconnect</button>
    </form>

    <script type="text/javascript">
        require(["jquery"],function($) {
            let form = $('#email-form-<?php echo $escaper->escapeJs($block->getWebsiteId()) ?>');
            let changedEmail = false;

            form.on('submit', function(e){
                if (changedEmail){
                    changedEmail = false;
                    return;
                }
                e.preventDefault();
                let newEmail = form.find('#new-email');
                if (newEmail.val()){
                    form.find('input[name$="email"]').each(function(){
                        $(this).val(newEmail.val());
                    });
                }
                changedEmail = true;
                $(this).trigger('submit');
            });
        });
    </script>
<?php endif ?>